.grup {
  height: 100%;
  background-color: white;
}
.titleClientes {
  font-size: 30px;
  margin-left: 20px;
  font-family: sans-serif;
  font-weight: 900;
}
.titleInput {
  margin-left: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 15px;
}

.inputsClientes {
  width: 30%;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  color: black;
  border: none;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgb(67, 56, 56);
}
.areaBnt {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bnt {
  padding: 12px;
  width: 20%;
  margin-left: 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: 500ms;
  background-color: black;
  color: white;
  margin: 20px;
}

.bnt:hover {
  background-color: rgb(214, 200, 200);
  color: rgb(7, 7, 7);
}

@media (max-width: 700px) {
  .titleClientes {
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
    font-weight: 600;
  }
  .inputsClientes {
    width: 90%;
  }
  .bnt {
    width: 50%;
  }
}
