.cont {
  height: 100%;
  background-color: white;
}
.grupo {
  border: 0px 5px 5px;
}

.headerPerfil {
  width: 100%;
  transition: 500ms;
  display: flex;
  justify-content: center;
}

.titlePerfil {
  font-size: 30px;
  color: black;
  font-weight: bold;
  border-radius: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.areaEmail {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.inputsLabel {
  width: 50%;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  margin: 20px;
  border: 1px solid rgb(67, 56, 56);
 
}

.labelText {
  font-size: 20px;
}

.bntSair {
  width: 20%;
  height: 30px;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  background-color: darkred;
  color: white;
  transition: 500ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bntSair:hover {
  background-color: black;
}

@media (max-width: 600px) {
  .headerPerfil {
    width: 100%;
  }
  .titlePerfil {
    box-shadow: none;
    border-radius: 0;
    transition: none;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 25px;
  }
  .form {
    margin-top: 20px;
  }
 .bntSair {
  width: 80%;
  height: 30px;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  background-color: darkred;
  color: white;
  transition: 500ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.areaEmail {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.inputsLabel {
  width: 70%;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  margin: 20px;
  border: 1px solid rgb(238, 2, 2);
 
}

.labelText {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}

}
