.cont {
  height: 100%;
  background-color: bisque;
}
.grupo {
  border: 0px 5px 5px;
}

.headerPerfil {
  width: 100%;
  transition: 500ms;
  display: flex;
  justify-content: center;
}

.titlePerfil {
  font-size: 30px;
  color: rgba(72, 48, 39, 0.55);
  font-weight: bold;
  border-radius: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  align-items: center;
}

.inputsLabel {
  width: 30%;
  padding: 10px;
  margin-left: 20px;
  border: 0;
  border-radius: 5px;
  margin: 20px;
}

.labelText {
  margin-left: 30px;
  font-size: 20px;
}

.bntSair {
  width: 100%;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  font-size: 13px;
  background-color: darkred;
  color: white;
  font-weight: 500;
  transition: 500ms;
  margin-left: 20px;
}

.bntSlv:hover {
  background-color: black;
}

@media (max-width: 600px) {
  .headerPerfil {
    width: 100%;
  }
  .titlePerfil {
    box-shadow: none;
    border-radius: 0;
    transition: none;
  }
  .form {
    margin-top: 20px;
  }
  .bntSair {
    width: 30%;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    font-size: 13px;
    background-color: darkred;
    color: white;
    font-weight: 500;
    transition: 500ms;
    margin-left: 20px;
  }
}
