.headerGruop {
  width: 100%;
  height: 70px;
  background-color: rgba(19, 17, 17, 0.635);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.titleHeader {
  font-size: 25px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.nav {
  display: flex;
  gap: 40px;
}
.nav h3 {
  cursor: pointer;
}
.LinkMenu {
  text-decoration: none;
  transition: 500ms;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  color: aliceblue;
}
@media (max-width: 600px) {
  .headerGruop {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
  }
  .LinkMenu {
    font-size: 40px;
    padding: 0px;
    margin-right: 10px;
  }
  .titleHeader {
    margin-left: 10px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .nav {
    display: flex;
    gap: 20px;
  }

  .titleHeader {
    font-size: 17px;
    color: white;
    text-align: center;
  }

  .LinkMenu {
    text-decoration: none;
    padding: 0px;
    transition: 500ms;
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 15px;
    font-size: 15px;
  }
}
